h1 {
    color: blue;
}

.titulo {
    color: red;
    background-color: aqua;
}

.faq-container {
    width: 80%;
    margin: 0 auto;
    list-style: none;
    background-color: #343434;
    color: white;    
}

.faq-container summary {
    padding: 16px;
}

.faq-container p {
    padding: 16px;
    background-color: #454545;
}